@{
    ViewBag.Title = "Login/Register";
}
<h2>In order to complete your order please Login or Register.</h2>
<p>
   @Html.ActionLink("Login", "Login", "Account")
</p>
<p>
    @Html.ActionLink("Register", "Register", "Account")
</p>
